/* CSS for onmouseoverout.html. */
body  { background-color: #a6d5f3 }
div   { border-style: groove;
        text-align: center;
        font-family: monospace;
        font-weight: bold;
		}
ul    { margin-left: -40px; }
li    { display: inline-block; width: 8em; }

@media (min-width:251pt)
{
	#click  {	position: fixed;
				top:100pt;
				left :57pt;
				font-size:80px;
				float:right;
			}
	
	#click:hover{ color:red; 
					border-color:red;}
}

@media (max-width: 250pt) or handheld
{
		#click  {	position: absolute;
				top:0pt;
				left :57pt;
				font-size:80px;
				float:right;
			}